.app{
  padding-top: 80px;
  padding-left: 40px;
  width: 100%;
  height: 969px;
  background: no-repeat url("../../img/main_bcg.png") center/cover;
  h2{
    font-family: 'PartnerUltraCondensed';
    a{
      color: #fff;
      font-size: 56px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      transition: .25s;
    }
    &:hover{
      a{
        color: #0070FF;
        transition: .25s;
      }
    }
  }
  &_logo{
    img{
      top: 250px;
      left: 615px;
      position: absolute;
      width: 750px;
      height: 750px;
    }
  }
  &_catalogCompany{
    h2{
      position: absolute;
      &:nth-child(1){
        top: 200px;
        left: 180px;
      }
      &:nth-child(2){
        top: 370px;
        left: 280px;
      }
      &:nth-child(3){
        top: 550px;
        left: 180px;
      }
    }
  }
  &_catalogInfo{
    h2{
      position: absolute;
      &:nth-child(1){
        top: 200px;
        left: 1500px;
      }
      &:nth-child(2){
        top: 370px;
        left: 1530px;
      }
      &:nth-child(3){
        top: 550px;
        left: 1535px;
      }
    }
  }
}
